.bg-mifel {
    background-color: #00afaa;
}


.btn-mifel {
    background-color: #00afaa;
    color: white;
}

.btn-mifel:hover {
    background-color: #00afa9d3;
    color: white;
}

.btn-mifel-blue {
    background-color: #002856;
    color: white;
}

.btn-mifel-blue:hover {
    background-color: #002856;
    color: white;
}